<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel=stylesheet href="styles.css">
    <title>Empresas</title>
</head>
<body>
<main>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img class="d-block mx-auto" srcset="https://img.icons8.com/bubbles/344/security-configuration.png 2x" width="60" >
                    <span class="fs-4">Budget Guardian</span>
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="py-2 text-dark text-decoration-none" href="index.html"><img srcset="https://img.icons8.com/bubbles/344/test-account.png 2x" alt="" width="50" ></a>
                </nav>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3 sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="income_expenses.html">
                                    <img class="mb-2" srcset="https://img.icons8.com/bubbles/344/cash-register.png 2x" alt="" width="60" >
                                    <span class="fs-6">Ingresos y egresos</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="users.html">
                                    <img class="mb-2" srcset="https://img.icons8.com/bubbles/344/user-group-man-woman.png 2x" alt="" width="60" >
                                    <span class="fs-6">Usuarios</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="enterprises.html">
                                    <img class="mb-2" srcset="https://img.icons8.com/bubbles/344/company.png 2x" alt="" width="60" >
                                    <span class="fs-6">Empresas</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="col-md-8 ms-sm-auto col-lg-9 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Empresas</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Nuevo</button>
                        </div>
                    </div>

                    <div class="modalsito modal position-static d-block bg-secondary py-2" tabindex="-1" role="dialog" id="modalSignin">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content rounded-4 shadow">
                                <div class="modal-header p-5 pb-4 border-bottom-0">
                                    <h2 class="fw-bold mb-0">Nueva empresa</h2>
                                </div>

                                <div class="modal-body p-5 pt-0">
                                    <form class="">
                                        <div class="form-floating mb-3">
                                            <input class="form-control rounded-3" id="floatingName" placeholder="Nombre">
                                            <label for="floatingName">Nombre</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control rounded-3" id="floatingNit" placeholder="nit">
                                            <label for="floatingNit">NIT</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control rounded-3" id="floatingAddress" placeholder="direccion">
                                            <label for="floatingAddress">Dirección</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control rounded-3" id="floatingTelephone" placeholder="333333">
                                            <label for="floatingTelephone">Teléfono</label>
                                        </div>
                                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Ingresar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>